p, h1, h2{
    font-family: Verdana, Arial, sans-serif;
}

.price{
    color: blue;
}

body {
    margin: auto;
    padding: 5px;
}

#inventoryContent{
    list-style-type: none;
    display: inline;
}

img.inventoryContent{
    width:500px;
    height:600px
}