html{
    font: "Veranda";
    padding: 10px;
}

body {
    margin: 50px;
    padding: 5px;
}

ul{
    list-style-type: none;
    display: inline;
}

img.inventoryContent{
    width:500px;
    height:600px
}